.container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.anime {
    border: solid white;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    height: 300px;
    width: 200px;
}

.anime:hover {
    transform: translate(-5px, -2.5px);
    box-shadow: 5px 5px;
}

.animeTitle {
    text-align: center;
    color: white;
}
